body{
  background-color: #d3d3d38c;
}
.App {
  text-align: center;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    } 
  }
  button {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    padding: 20px 23px;
    transition: 0.8s ease all;
    }
    button:hover{
      scale: 1.1;
    }
.form-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px #808080a1;
    margin-bottom: 120px;
}    
.card-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #80808078;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.ant-card{
    // width: 23% !important;
    border: 1px solid #0000007a;
}
.ant-card-body{
    border-bottom: 1px solid #80808078 !important;
    border-radius: 0px !important;
    p{
    margin-left: 40px;
    margin-top: 10px;
    }
}
@media (max-width: 786px) {
.navbar{
    flex-direction: column;
    button{
      width: 77%;
    }
}
}