body{
  background-color: #d3d3d38c;
}
.App {
  text-align: center;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    } 
  }
  button {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    padding: 20px 23px;
    transition: 0.8s ease all;
    }
    button:hover{
      scale: 1.1;
    }
.form-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px #808080a1;
    margin-bottom: 120px;
}    
.card-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #80808078;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    p{
      margin: 0;
    }
}
.ant-card{
    // width: 23% !important;
    border: 1px solid #0000007a;
}
.ant-card-body{
    border-bottom: 1px solid #80808078 !important;
    border-radius: 0px !important;
    p{
    margin-left: 40px;
    margin-top: 10px;
    }
}
@media (max-width: 786px) {
.navbar{
    flex-direction: column;
    button{
      width: 77%;
    }
}
}
.book-card {
  perspective: 1200px;
}

.book-inner {
  position: relative;
  width: 100%;
  height: 180px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  border-radius: 10px;
}

.book-card:hover .book-inner {
  transform: rotateY(-160deg);
}

.book-front {
    position: absolute;
    backface-visibility: hidden;
    // background-image: url(../public/Images/Cover.jpg);
    // background-position: center center;    
    // background-size: cover;
    color: #000;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #000; 
    font-weight: 600;
    background-color: #E7E7E7;
    box-shadow: 1px 1px 10px #d3d3d3;
    p{
      margin: 0;
    }
}

.book-back {
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-card.open .book-inner {
  transform: rotateY(-160deg) !important;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.card-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    font-weight: 500;
}